.cm-editor {
	height: 100%;
}

.cm-matchingBracket,
.cm-focused .cm-matchingBracket {
	background-color: #eee;
	box-shadow: inset 0 0 1px 1px #999;
	font-weight: bold;
}

.cm-scroller .cm-content {
	padding: 0;
}

.cm-content .cm-line {
	line-height: 21px;
	white-space-collapse: preserve;
	padding: 0;
}

.cm-gutters .cm-lineNumbers .cm-gutterElement {
	padding: 0.5px 3px 0 9px;
}
